#speed-video:hover{

}
/* 
.css-dev-only-do-not-override-2q8sxy{
    width:240px !important;
} */

#unique-word-def{
    background-color: #808080;
    padding:20px !important;
}



:where(.css-dev-only-do-not-override-2q8sxy).ant-card .ant-card-head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 56px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    border-bottom: none !important;
    border-radius: 8px 8px 0 0;
}