.container-for-all{
    height: 400px;
}

/* .faq-col{
    height: 200px;
} */
.faq-accordion-containe {
    padding: 50px;
    background-color: red;
  }
  
  .ant-collapse {
    /* height: 200px; */
    border: none;
  }
  
  .ant-collapse-item {
    border: none;
  }
  
  .ant-collapse-header {
    border-bottom: none;
  }
  
  .head-faq {
    color: #2b2676;
    text-align: center;
  }
  
  .title-faq {
    font-size: 2em;
  }
  
  .container-faq {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-accordion-container {
    margin-top: 30px;
  }
  
  .ant-collapse {
    border: none;
  }
  
  .ant-collapse-item {
    border: none;
  }
  
  .ant-collapse-header {
    border-bottom: none;
  }

 .faq-text{
    color: #2b2676;
}

@media only screen and (max-width: 600px) {
    .ant-collapse-header {
        height: 90px;
    }
      
  }