
 .login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-frame {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px #2b2676;
}

.row-login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-form-container {
  width: 100%;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-heading {
  color: #2b2676;
  font-size: 32px;
  font-weight: 400px;
  word-wrap: break-word;
  margin-bottom: 40px;
}

.login-text-input {
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #2b2676;
}

.signIn-button button,
.login-button button {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-button {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.signIn-button button:hover,
.login-button button:hover {
  background-color: #2980b9;
}

.login-checkbox-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.login-check-remember {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.rememberCheckbox {
  color: #2b2676;
  font-size: 16px;
  font-weight: 400px;
  word-wrap: break-word;
}

hr {
  border: 1px solid #ccc;
  width: 70%;
  margin: 10px 0;
}

.forgot-password {
  color: #2b2676;
  font-size: 16px;
  font-weight: 400px;
  word-wrap: break-word;
} 

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}
