@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}
/* body {
  color:lightblue;
} */
.login_container {
  color:lightblue;

  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  width: 700px;
}
.login_screen {
  background: linear-gradient(90deg, #191646, #9994DC);
  position: relative;
  height:680px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0px 0px 24px #2b2676;
}
.login_screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}
.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}
.screen__background__shape6 {
  height: 520px;
  width: 520px;
  background: #FFF;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}
.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #665FCB;
  top: -172px;
  right: 0;
  border-radius: 32px;
}
.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #2b2676, #665FCB);
  top: -24px;
  right: 0;
  border-radius: 32px;
}
.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #39347C;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}
.login {
  /* width: 320px; */
  padding: 30px;
  padding-top: 156px;
}
.login__field {
  /* width: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding: 20px 0px;
  position: relative;
}
.login__icon {
  position: absolute;
  top: 30px;
  color: #7875B5;
}
.login__input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: .2s;
}
.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6A679E;
}
.login__submit {
  /* background: #fff; */
  /* font-size: 14px; */
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  /* text-transform: uppercase; */
  font-weight: 700;
  display: flex;
  align-items: center;
  /* width: 100%; */
  color: white;
  /* box-shadow: 0px 2px 2px #5C5696; */
  cursor: pointer;
  transition: .2s;
}
.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6A679E;
  outline: none;
}
.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875B5;
  
}
.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0px;
  right: 0px;
  color: #fff;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #7875B5;
}
.social-login__icon:hover {
  transform: scale(1.5);
}



.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-frame {
  width: 100%;
  max-width: 550px;
  padding: 40px;
  height: 700px;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  /* box-shadow: 0 0 10px #2b2676; */
}

.login-heading {
  color: #2b2676;
  font-size: 32px;
  font-weight: 400px;
  word-wrap: break-word;
  margin-top: 0px;
}

.login-text-input {
  padding: 8px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #2b2676;
}

.signIn-button button,
.login-button button {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login__submit{
  /* width: 20%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-right: 150px; */
}
.login-button {
  width: 60%;
  /* height: 50%; */
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 40px; */
}

.signIn-button button:hover,
.login-button button:hover {
  background-color: #2980b9;
}

.login-checkbox-row {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.login-rememberCheckbox {
  /* color: red; */
  word-wrap: break-word;
}

hr {
  
  border: 1px solid #ccc;
  width: 100%;
  margin: 10px 0;
}

.forgot-password {
  cursor: pointer;
  color: white;
  white-space: nowrap;
}

.new-user{
  cursor: pointer;
  color: white;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.login-term {
  display: inline;
  color: white;
}

.login__submit{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mb-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
@media only screen and (max-width: 600px){
  .login_screen{
    height: 720px;
    width: 400px;
  }
  .login__submit{
width: 100px; 
 }
 .login__field{
  width: 90%;

 }
}

@media only screen and (max-width: 460px){
  .login-frame{
    height: 650px;
    width: 400px;
  } 
  .salam{
    width: 80%;
  }

  .login-checkbox-row{
    display: flex;
    flex-direction: column;
  }
  .forgot-password{
    display: flex;
    flex-direction: column;
  }
}




