
.profile-arrow-icon {
  margin-left: 100px;
}

.profile-photo-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: white;
}

.button-profile-photo {
  width: 200px;
  margin-top: 5px;
  padding: 8px 16px;
  background-color: #2b2676;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
  font-weight: 400;
}

.button-profile-photo:hover {
  background-color: #2b2676;
}
.profile-heart-icon,
.profile-exit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.profile-heart-icon svg,
.profile-exit-icon svg {
  font-size: 24px;
  margin-right: 20px;
  margin-left: 0px;
}

@media (max-width: 768px) {
  .circular {
    width: 100%;
    max-width: none;
  }
}

.profile-accountSettings {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px;
}

.changeEmail,
.changePass,
.newPass {
  margin-bottom: 15px;
}

.profile-label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.profile-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-button {
  text-align: right;
}

.profile-button button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.profile-save-button {
  background-color: #2b2676;
  color: #fff;
  border: none;
}

.profile-save-button:hover {
  background-color: #2b2676;
}

.profile-heading {
  color: #2b2676;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.profile-heading {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin: 0;
  margin-left: 35px;
}

.fullname,
.username,
.email{
  padding: 15px;
  margin-left: 35px;
  font-size: 16px;
  font-weight: 400;
}

.first-frame {
  width: auto;
  height: auto;
  padding: 10px;
}

.profile-box {
  margin-top: 200px;
  overflow: hidden; 
  border: 1px solid #ccc;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px #2b2676;
}

.edit-details {
  color: #2b2676;
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
  margin-left: 35px;
}

.user_name {
  margin-top: 10px;
  color: #2b2676;
  font-size: 20px;
  font-weight: 400;
}

.custom-col1 {
  color: #2b2676;
  font-size: 16px;
  font-weight: 400;
}

.profile-accountSettings {
  color: #2b2676;
  font-size: 16px;
  font-weight: 400;
}


.photo-box {
  margin-top: 200px;
}

/* .profile-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
} */


.fav-box {
  margin-top: 40px;
  margin-left: 180px;
  /* margin-right: auto; */
  /* width: 100%;  */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px #2b2676;
  padding: 20px;
}

.empty-favorites {
  text-align: center;
}

.profile-heading {
  margin-top: 10px;
}

.words-details,
.sentences-details {
  margin-top: 10px;
}

.favorite-list {
  margin-top: 10px;
}

@media (max-width: 200px) {
  .profile-input edit-input {
width: 60%;  }
}


.error-input {
  border-color: red; /* Add your desired error state styling */
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
