
.container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.dropdown {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sign-in-button,
.side-Bar {
  cursor: pointer;
}

.profile-main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.side-bar {
  text-align: center;
  width: 200px; /* Set a fixed width for the sidebar */
}

.side-bar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.button-photo {
  cursor: pointer;
  margin-top: 10px;
  display: block;
}

.profile {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.right-profile {
  margin-right: 20px;
}

.line {
  border-left: 1px solid #ccc;
  height: 100%;
  margin: 0 20px;
}

.form-container {
  flex-grow: 1;
  margin-left: 20px; /* Add margin to separate the form container from the profile */
}

form {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
}
