.signUp-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sign-heading {
  text-align: center;
  color: #2b2676;
  font-size: 32px;
  font-weight: 400px;
  word-wrap: break-word;
}
.signUp-frame {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 600px;
  background-color: #f9f9f9;
  /* box-shadow: 0 0 10px #2b2676; */
}

.signUp-form-group {
  margin-bottom: 20px;
}

.signUp-text-input {
  margin-bottom: 15px;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: 1px solid #2b2676;
}

.signUp-label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

.signUp-term {
  display: inline;
  color: #2b2676;
}
.check {
  margin-top: 18px;
  margin-left: 5px;
}
.box {
  color: #2b2676;
}

@media screen and (max-width: 600px) {
  .signUp-form-container {
    max-width: 100%;
  }
}

.login-option {
  text-align: center;
}

.sign-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 16px;
  padding: 30px;
}

.signUp-error-message {
  color: red;
  font-family: "Inter";
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.signUp-user {
  text-decoration: none;
  color: #2b2676;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.MuiCheckbox-root {
  padding: 0;
}

.MuiIconButton-label {
  position: relative;
}
