.signUp-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-heading {
  text-align: center;
  color: #2b2676;
  font-size: 32px;
  font-family: Inter;
  font-weight: 400px;
  word-wrap: break-word;
  margin-bottom: 40px;
}
.signUp-frame {
  margin-top: 50px;
  /* margin-bottom: auto; */
  width: 80%;
  max-width: 600px;
  /* height: 90%; */
  padding: 20px;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px #2b2676;
}

.signUp-form-container {
  margin-left: auto;
  width: 100%;
  max-width: 600px;
}

.signUp-form-group {
  margin-bottom: 20px;
}

.signUp-text-input {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signUp-label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

.signUp-checkbox-row {
  display: flex;
  align-items: center;
}

#termsCheckbox {
  margin-right: 10px;
}

.signUp-term {
  margin-top: 20px;
  text-align: center;
  color: #2b2676;
  font-size: 16px;
  font-family: "Inter";
  font-weight: "400";
  word-wrap: "break-word";
}

@media screen and (max-width: 600px) {
  .signUp-form-container {
    max-width: 100%;
  }
}

.login-option {
  text-align: center;
}

.signUp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.signUp-error-message {
  color: red;
  font-family: "Inter";
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}
